
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



[class^='col-'] {
	float: left;
	padding: 0; 
	text-align: center; /* center the content in this block */
}


.col-5of10 {
	margin-top: 170px;
	padding-left: 0em;
	padding-right: 5em;
	padding-bottom: 2em;
	width: 50%;

	
}

@media (max-width: 50em) {

	.col-5of10 {
		width: 100%;
	}

}

.home-col-5of10 {

	width: 50%;
}

@media (max-width: 50em) {

	.home-col-5of10 {
		width: 100%;
	}

}


.home-col-10of10 {

	margin-top: 170px;
	padding-bottom: 2em;
	width: 100%;
	
}

@media (max-width: 50em) {

	.home-col-10of10 {
		width: 100%;
	}

}




.col-1of3{
	padding: 2em;
	width:33.33%;
}

@media (max-width: 50em) {
.col-1of3{
		width:33.33%;
	}
}

.col-2of10 {
		width: 16.66%;
		padding-left: 1.5em;
		padding-right: 1.5em;
	
}


@media (max-width: 30em) {

	.col-2of10 {
		width: 80%;
	}

}



.grid:after {
	content: "";
	display: block;
	clear: both;
}
