@font-face {
	font-family: 'Lato-Light';
	font-weight: normal;
	font-style: normal;
}

nav a {
width: 100%;

}
/*
article {
	text-align: left;
	margin: 1rem 0; 
	padding: 2rem; 
	border: 1px solid #dadada;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #FFFFFF;
}
*/


#FrontPage img {
	margin-top: 2em;
	margin-bottom: 8em;

}
#Birthday img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;




	/*
	position: relative;
	overflow: hidden;
	*/
}



/*
.InnerBox {
	width: 100%;
	position: absolute;
	bottom: -60px;
	background: #FFF;
	left: 0;
	-webkit-transition: all 500ms ease-out 0;
	-moz-transition: all 500ms east-out 0;
	-o-transition: all 500ms east-out 0;
	transition: all 500ms east-out 0;
}



#Birthday img:hover .InnerBox {
	bottom: 0;
	background: rgba(255, 255, 255, .3);
}

*/


#Wedding img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;
}

#Pastry img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;
}

#Customize img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;
}

#AboutUs {
	
	margin-top: 15em;
	margin-bottom: 15em;
}

nav a, nav a:visited {
	font-family: 'Lato-Hairline';
	display: inline-block;
	background-color: white;
	color: #888888;
	padding: 0.5em 1.25em;
	text-decoration: none;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	
}


#nav :hover ul{
	display: block;

}

#nav ul{
	display: none;
	position: absolute;
}


nav a:hover, nav a:active, nav a:focus {
	
	background-color: white;
	color: #f27677;

}


body {

	font-family: Arial, Verdana, sans-serif;
	font-size: 1em; 
	color: #888888;
	padding: 1em;

	background-color: white;

	overflow-y: scroll;
}



h1 {
	font-size: 3rem; 
}


h2 {
	font-weight: normal;
	font-size: 2rem; 
}


h2 a {
	font-style: none;
}

h3 {

	font-size: 1.3rem;
	font-family: 'Lato-Hairline';
}

p, ul, ol {
	font-size: 1rem;
	line-height: 1.3em; 
	text-align: left;
}

img {
	height: auto; 
	width: auto;
	max-width: 100%;
	border: 0px solid #888888; 
}

.zoom_img_pastry img{
	max-width: 190px;
	height: auto;
	margin: 55px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}

.zoom_img_pastry img:hover{
-moz-transform:scale(1.07); 
-webkit-transform:scale(1.07);
-o-transform:scale(1.07);
}

.zoom_img_birthday img{

	max-width:220px;
	height: auto;
	margin: 45px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}

.zoom_img_birthday img:hover{
-moz-transform:scale(1.05); 
-webkit-transform:scale(1.05);
-o-transform:scale(1.05);
}

.zoom_img_wedding img{
	max-width: 230px;
	height: auto;
	margin: 45px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}

.zoom_img_wedding img:hover{
-moz-transform:scale(1.05); 
-webkit-transform:scale(1.05);
-o-transform:scale(1.05);
}

figure {
	margin: 0;
}


figcaption {
	font-size: 0.8rem;
	font-style: italic;
}


a {
	color: #007FFF;
	font-size: 0.8rem; 
}


a:visited {
	color: #8968CD;
}


a:active, a:hover {
	color: #888888; 
	text-decoration: none;
}


label{
	display:block;
}

.input-wrapper{
	margin: 0 0 1em 0;


.footer,.footer p{
	text-align: center;
	display: block;
	color:black;
}

.footer a:link{
	margin: 20px;
	text-decoration: none;
}

.description p{
	text-align: center;
}

a.button {
	text-align: center;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
a.button:hover, a.button:focus {
  background-color: #999;
}

}

