@font-face {
	font-family: 'Lato-Hairline';
	font-weight: normal;
	font-style: normal;
}

nav a {
width: 100%;

}
/*
article {
	text-align: left;
	margin: 1rem 0; 
	padding: 2rem; 
	border: 1px solid #dadada;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #FFFFFF;
}
*/


#FrontPage img {
	margin-top: 2em;
	margin-bottom: 8em;

}
#Birthday img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;

}

/*
.InnerBox {
	width: 100%;
	position: absolute;
	bottom: -60px;
	background: #FFF;
	left: 0;
	-webkit-transition: all 500ms ease-out 0;
	-moz-transition: all 500ms east-out 0;
	-o-transition: all 500ms east-out 0;
	transition: all 500ms east-out 0;
}



#Birthday img:hover .InnerBox {
	bottom: 0;
	background: rgba(255, 255, 255, .3);
}

*/


#Wedding img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;
}

#Pastry img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;
}

#Customize img {
	margin-top: 8em;
	margin-bottom: 8em;
	border-radius: 3em;
	box-shadow: 10px 10px 5px;
}

#AboutUs {
	
	margin-top: 15em;
	margin-bottom: 15em;
}

nav a, nav a:visited {
	font-family: 'Lato-Hairline';
	display: inline-block;
	background-color: white;
	color: #888888;
	padding: 0.5em 1.25em;
	text-decoration: none;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	
}


#nav :hover ul{
	display: block;

}

#nav ul{
	display: none;
	position: absolute;
}


nav a:hover, nav a:active, nav a:focus {
	
	background-color: white;
	color: #f27677;

}


body {

	font-family: Arial, Verdana, sans-serif;
	font-size: 1em; 
	color: #888888;
	padding: 1em;

	background-color: white;

	overflow-y: scroll;
}



h1 {
	font-family: 'Lato-Hairline';
	font-size: 2.5rem; 
}


h2 {
	font-weight: normal;
	font-size: 2rem; 
}


h3 {
	margin-top: 50px;
	font-size: 1.3rem;
	font-family: 'Lato-Hairline';
}

h5{
	text-align: left;
	margin-top: 50px;
	margin-left: 30px;
}

p, ul, ol {
	font-size: 1rem;
	line-height: 1.3em; 
	text-align: left;
}

img {
	height: auto; 
	width: auto;
	max-width: 100%;
	border: 0px solid #888888; 
}

.zoom_img_pastry img{
	max-width: 190px;
	height: auto;
	margin: 55px;
	-moz-transition:-moz-transform 0.5s ease-in; 
	-webkit-transition:-webkit-transform 0.5s ease-in; 
	-o-transition:-o-transform 0.5s ease-in;
}

.zoom_img_pastry img:hover{
	-moz-transform:scale(1.07); 
	-webkit-transform:scale(1.07);
	-o-transform:scale(1.07);
}

.zoom_img_birthday img{

	max-width:220px;
	height: auto;
	margin: 45px;
	-moz-transition:-moz-transform 0.5s ease-in; 
	-webkit-transition:-webkit-transform 0.5s ease-in; 
	-o-transition:-o-transform 0.5s ease-in;
}

.zoom_img_birthday img:hover{
	-moz-transform:scale(1.05); 
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
}

.zoom_img_wedding img{
	max-width: 230px;
	height: auto;
	margin: 45px;
	-moz-transition:-moz-transform 0.5s ease-in; 
	-webkit-transition:-webkit-transform 0.5s ease-in; 
	-o-transition:-o-transform 0.5s ease-in;
}

.zoom_img_wedding img:hover{
	-moz-transform:scale(1.05); 
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
}

.custom_img img{
	max-width: 150px;
	height: auto;
	margin: 35px;
}


figure {
	margin: 0;
}


figcaption {
	font-size: 0.8rem;
	font-style: italic;
}

.button {
	font-size:1em;
	font-weight: bold; 
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display: block;
	max-width: 150px;
	max-height:auto;
	padding:6px 20px;
	text-shadow:0px 1px 0px #ffffff;
	margin-top: 15px;
	text-decoration:none;
	text-align: center；
}


a.button:hover {
	background-color:#e9e9e9;
}


a {
	color: #007FFF;
	font-size: 0.8rem; 
}


a:visited {
	color: #8968CD;
}


a:active, a:hover {
	color: #888888; 
	text-decoration: none;
}

table, tr, th, td{
	width:700px;
	height:100px;
	border:1px black;
	border-style:double; 
}

table img{
	width:auto;
	height:150px;

}

footer{
  clear: both;
  color: #666;  
  width: 100%;
  text-align: left;
  background: #F2F2F2;
  border-top: 1px solid #F2F2F2;  
  display:inline-block;
}

footer p{
	font-size: 0.9em;
}

.input-wrapper label{
	display:inline-block;
	position:absolute;
	left:250px;
}

.input-wrapper{
	margin: 0 0 1em 0;
｝






