@font-face {
	font-family: 'Lato-Light';
	font-weight: normal;
	font-style: normal;
}

h1{
	font-size:2.5rem;
}

nav a, nav a:visited {
	font-family: 'Lato-Hairline';
	display: inline-block;
	background-color: #bc6728;
	color: #FFFFFF;
	padding: 0.5em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

nav a:hover, nav a:active, nav a:focus {
	background-color: #f27677;
	color: white;
}

figure {
	/* 
		We add some padding here to make sure that when our text is
		wrapping around our image and caption, that there is some space
		in between
	*/
	padding-left: 1em;
	position: relative;
	max-width: 100%;
}



figcaption {
	/*
		Setting position to absolute for our caption allows us to
		position it overtop of the image
	*/
	position: absolute;
	bottom: 1em;
	left: 2em;
	/*
		Setting a z-index allows us to layer things differently, the
		default is 0 and any higher values layer items overtop
		z-index only works if a positioning has been set.
	*/	
	z-index: 10;

	color: white;
}






/* Our code from last week's tutorial */
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px; 
	color: black;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display:block;
}

nav a {
	display: inline-block;
	color: black;
	font-size: 1.2rem;
	margin: 0.25em; 
	padding: 0.25em 0.45em
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

img {
	height: auto; 
	max-width: 100%;
	border: 1px solid #888888; 
}

figure {
	margin: 0; 
}

figcaption {
	font-size: 0.8rem;
	font-style: italic;
}

form {
	display: inline-block; 
	padding: 1em;
}

.input-wrapper {
	margin: 0 0 1em 0; 
}

label {
	display: block;
}

*, *::after, *::before {
	box-sizing: border-box;
}
a.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
a.button:hover, a.button:focus {
  background-color: #999;
}

table, th, td{
	border: 1px solid black;
} 

/*select div{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    margin: 25px;
}
*/

#keygrouping nav a{
	display:inline-block;
	font-size: 1rem;
	color: white;
	padding: 0.5em;
	background-color: #bc6728;
	width:120px;
	text-align: center;
	text-decoration: none;
}

#keygrouping nav a, nav a:visited{

	font-family: 'Lato-Hairline';
	display: inline-block;
	background-color: #bc6728;
	color: #FFFFFF;
	padding: 0.5em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

#keygrouping nav a {
	width: 100%;
}
#keygrouping nav a:hover, nav a:active, nav a:focus {
	background-color: #f27677;
	color: white;
}

form{
	position:relative;
	left:80px;
	margin-bottom: 50px;
}

form input[type="text"] {
	position:absolute;
	left:150px;
    width: 200px;
    height: 20px;
}